/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;	
}
	h1 {
		font-size: 110%;	
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;

	}
	h3 {
		font-size: 102%;
	}
	h4 {
		font-size: 100%;
	}
	
	
.left66 {
}

.right33 {
}

	*/

/* CALENDAR PAGE */
#calendar-page #views {
	display: inline-block;
	float: right;
	margin-top: -50px;
}

.right33 .calendar-mini {
	max-width: 300px;
	width: 300px;
	padding: 0;
}

	.right33 .calendar-mini h3 {
		margin: 0 0 15px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
	}
	
	.calendar-mini .month-name {
		display:table-row;	
		width: 100%;
	}
	
		.calendar-mini .month-name h4.month-name-text {
			/*font-size: 90%;*/
			text-transform: uppercase;
			color: #777;
			font-weight: 100;
			text-align:center;
			margin: 0;
			padding:0;
			width: 100%;
			display:table-cell;	
		}
	
		.calendar-mini .month-name h4.month-name-text a {
			color: #777;
		}
	
			.calendar-mini .month-name h4.month-name-text a:hover {
				color: #D12229;
			}
	
	
		.calendar-mini .month-name .previous_arrow {
			text-align: right;
			display: block;
			margin: 0;
			padding: 0;
			display:table-cell;
			
			-moz-transform: rotate(-180deg);
			-webkit-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}
		.calendar-mini .month-name .next_arrow {
			text-align: right;
			display: block;
			margin: 0;
			padding: 0;
			display:table-cell;
		}
		
	
	/* start Calendar Table */
	.calendar-mini table.calendar {
		width:100%;
		margin-top:10px;
		margin-bottom: 40px;
		font-family: "Arial", sans-serif;
	}
			.calendar-mini table.calendar thead th {
				font-size: 60%;
				font-weight:100;
				color: #777;
				padding-bottom:8px;
				border-bottom: 1px solid #999;
				text-transform: uppercase;
			}
			
			.calendar-mini table.calendar .table-border {
				height:10px;
				display: block;
			}
		
			
			.calendar-mini table.calendar tbody td {
				font-size: 60%;
				font-weight:100;
				background-color: #eee;
				height: 23px;
				width:35px;
				text-align: center;
				border-left: 4px solid white;
				border-bottom: 4px solid white;
				border-right: 4px solid white;
			}
				.calendar-mini table.calendar tbody td:hover {
					background-color: #D12229;
				}
				
					.calendar-mini table.calendar tbody td a {
						color: #777;
					}
						.calendar-mini table.calendar tbody td a:hover {
							color: #fff;
						}
		
			
				.calendar-mini table.calendar tbody td.bgRed {
					background-color: #D12229;
				}
						.calendar-mini table.calendar tbody td.bgRed:hover {
							background-color: #EED484;
						}
					
					.calendar-mini table.calendar tbody td.bgRed a {
						color: #fff;
					}
			
					
					
				.calendar-mini table.calendar tbody td.bgLightGrey {
					background-color: #cfcfcf;
				}
						.calendar-mini table.calendar tbody td.bgLightGrey:hover {
							background-color: #D12229;
						}
						
						.calendar-mini table.calendar tbody td.bgLightGrey:hover a {
							color: #fff;
						}
						
			
					
					
				.calendar-mini table.calendar tbody td.bgMediumGrey {
					background-color: #9f9f9f;
				}
				
						.calendar-mini table.calendar tbody td.bgMediumGrey:hover {
							background-color: #D12229;
						}
						
					.calendar-mini table.calendar tbody td.bgMediumGrey a {
						color: #ddd;
					}
						.calendar-mini table.calendar tbody td.bgMediumGrey:hover a {
							color: #fff;
						}
						
						
			
					
					
				.calendar-mini table.calendar tbody td.bgDarkGrey {
					background-color: #777;
				}
				
						.calendar-mini table.calendar tbody td.bgDarkGrey:hover {
							background-color: #D12229;
						}
						
					.calendar-mini table.calendar tbody td.bgDarkGrey a {
						color: #dfdfdf;
					}
						.calendar-mini table.calendar tbody td.bgDarkGrey:hover a {
							color: #fff;
						}
				
				
			
	/* end Calendar Table */
	
	
	
	
		
	
	/* start events list */
	.event-list-item {
		display: table;
		clear:both;
		margin-bottom: 50px;
		width: 100%;
	}
		.event-list-item .date-box {
			width: 38px;
			height:42px;
			background-color: #D12229;
			color: #fff;
			text-align: center;
			padding: 4px 6px;
			float: left;
			clear: left;
			margin-right: 10px;
		}
			.event-list-item .month-name {
				display: block;
				font-size: 78%;
				text-transform: uppercase;
			}
			.event-list-item .day-number {
				display: block;
				font-size: 130%;
				line-height:120%;
			}
		
		.event-list-item .event-information {
			display: inline-block;
			padding-top: 0;
			max-width: 650px;
			float: left;
		}
		
			.event-list-item .event-information img {
				max-width: 240px;
				float:left;
				margin-right:15px;
			}
		
			.event-list-item .event-information h3 {
				font-size: 100%;
				margin: 0;
				clear: right;
				display:table;
			}
		
			.event-list-item .event-information .description {
				font-size: 70%;
				margin-top: 0;
				color: #999;
				display:block;
			}
		
			.event-list-item .event-information .description2 {
				font-size: 95%;
				color: #111;
				font-weight: 500;
				letter-spacing:0;
				word-spacing:3px;
			}
	/* end events list */