/* #### Mobile Phones Portrait #### */
@media screen and (max-width: 900px){
  /* some CSS here */
  
	.right33 {
		float: left;
		display: none;
		
	}
	
	.left66 {
		clear: both;
		float: none;
		width: 100%;
	}
	#views {
		display: none;
	}
}

