/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
		
	*/
	/* start events information 
	{
			
	}
		h2 {
			margin: 0;
		}
		.details {
			font-size: 78%;
			margin: 0;
			color: #9f9f9f;
		}
		
		.socialmedia {
			display: table-row-group;	
			float:right;
		}
			.socialmedia img {
				margin-right: 5px;
			}
		
		*/
			
		
#eventTicketBox {
	float: right;
	border: 1px solid #ddd;
	margin: 0 0 12px 12px;
	padding: 12px;
	max-width: 50%;
	width: 40%;
}
#date-box-holder { display: table-cell; }
					
#eventTicketBox .date-box {
	width: 38px;
	height:42px;
	background-color: #C63F34;
	color: #fff;
	text-align: center;
	padding: 3px 4px;
	float: left;
	clear: left;
	margin-right: 10px;
}
#eventTicketBox .month-name { display: block; font-size: 78%; text-transform: uppercase; }
#eventTicketBox .day-number { display: block; font-size: 130%; line-height:120%; }
#eventTicketBox .event-details { display: table-cell; padding: 0; vertical-align: top; }
#eventTicketBox .event-details h4 { margin-top:0; margin-bottom:10px; line-height:120% }			
			
#eventTicketBox table { font-size: 85%; text-align: left; }
#eventTicketBox table tr th, 
#eventTicketBox table tr td { vertical-align: text-top; }
#eventTicketBox table tr th { font-style: normal; font-weight: 600; padding-right: 12px; }







			/*
				#eventTicketBox .event-details h3 {
					font-size: 90%;
					margin: 0;
					padding: 0;
				}
				
				#eventTicketBox .event-details .tags {
					font-size: 70%;
					color: #9f9f9f;
					margin-top: 0px;
				}
			*/
				

					
					
					
				/*	
				#eventTicketBox .buyticketsbutton {
					padding: 5px 15px;
					background-color: #C63F34;
					color: #fff;
					border-radius: 5px;
					margin-top: 10px;
					font-size: 73%;
					display: inline-block;
				}
				
					#eventTicketBox .buyticketsbutton:hover {
						background-color: #862633;
					}
			*/
		
		/*
		#eventImage {
			margin: 20px 20px 20px 0;	
		}
			#eventImage img {
				max-width: 745px;
			}
			
			
			
			#eventImage .eventimagecaption {
				color: #9f9f9f;	
				font-size: 78%;
				margin-top: 5px;
			}
		*/	
			
		
		#eventinfo p {
                    text-align: justify;
		}
		
		
		
		
	/*.event-list-item {
		display: table;
		clear:both;
		margin-bottom: 50px;
	}
		.event-list-item .date-box {
			width: 38px;
			height:42px;
			background-color: #C63F34;
			color: #fff;
			text-align: center;
			padding: 4px 6px;
			float: left;
			clear: left;
			margin-right: 10px;
		}
			.event-list-item .month-name {
				display: block;
				font-size: 78%;
				text-transform: uppercase;
			}
			.event-list-item .day-number {
				display: block;
				font-size: 130%;
				line-height:120%;
			}
		
		.event-list-item .event-information {
			display: inline-block;
			padding-top: 0;
			max-width: 650px;
			float: left;
		}
		
			.event-list-item .event-information img {
				max-width: 240px;
				float:left;
				margin-right:15px;
			}
		
			.event-list-item .event-information h3 {
				font-size: 100%;
				margin: 0;
				clear: right;
				display:table;
			}
		
			.event-list-item .event-information .description {
				font-size: 70%;
				margin-top: 0;
				color: #999;
				display:block;
			}
		
			.event-list-item .event-information .description2 {
				font-size: 95%;
				color: #111;
				font-weight: 500;
				letter-spacing:0;
				word-spacing:3px;
			}*/
	/* end events list */