@charset "UTF-8";
/* CSS Document */


#map-canvas {
        height: 615px;
		width: 800px;
		min-width: 200px;
		max-width: 800px;
        margin: 0;
        padding: 0px;
		font-family: sans-serif;
      }
	
	  .clear-left {
		  clear: left;  
	  }
	  #navigation {
		float:left;
		padding: 10px 20px 10px 30px;
		margin-right:10px;
		margin-bottom: 30px;
		height:100%;
		background-color: #f8f8f8;
		font-size: 88%;
		display: table-cell !important;
	  }
		#navigation a p.facility {
			  margin-bottom:0;
			  margin-top:0;
			  padding: 2px 15px;
			  color: #100;
		}
		  #navigation p.facility:hover {
			  background-color: #C63F34;
		  }
			  #navigation a p.facility:hover {
				  color: #fff;
			  }
	#content {
		padding-bottom:20px;
		max-width: 500px;
	}
	  	#content img {
			max-width: 170px;
			max-height: 200px; 
			float: left;
			margin: 0 20px 15px 0;
		}
		#content .tag {
			color: #400;
		}
		#content .getdirections {
			margin-top: 3px;
			display: block;
		}
			#content .getdirections img.mapsdirections {
				max-width: 15px;
				float: left;
				margin-right:5px;
				vertical-align: top;
			}
		  #content tr td, #content tr th {
			vertical-align: top;  
		  }