
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);
@import url("../bootstrap/bootstrap.less");
@import url('../font-awesome-4.0.3/css/font-awesome.min.css');


/**********************
References:
http://bootstrap.lesscss.ru/less.html
***********************/




/**********************
  VARIABLES
***********************/

@brand-primary: #C63F34;
@linkColor: @brand-primary;
@linkColorHover: darken(@linkColor, 2%);


/*not sure if i want or need to use this*/
.btn-carousel {
	.button-variant(#fff; @linkColor; @linkColor);
	&:hover,&:active { background-color: @linkColorHover }
}
.btn-footer-row {
	.button-variant(#fff; @linkColor; @linkColor);
	margin: 0 auto;
	&:hover,&:active { background-color: @linkColorHover }
}


/*
@primaryButtonBackground: @linkColor;
@btn-primary-bg: @linkColor;

.btn-primary { background-color: @linkColor; border: none;
	:hover { background-color: @linkColorHover; border: none; }
}


*/

@navbarLinkColorHover: #fff;

@baseFontFamily: 'Open Sans', sans-serif;





/**********************
	VIEWPORT (ref: http://getbootstrap.com/css/#grid-media-queries)
***********************/

@grid-float-breakpoint: @screen-tablet;

/* Extra small devices (phones, up to 480px) */
@media (max-width: @screen-xs-max) {
	.nav > li { color: #000; }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
	.container { width:930px; }
	.nav > li {
		> a { padding: 15px 10px; color: #f99; }
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) and (max-width: @screen-md-max) {
	.container { width:1000px; }
	.nav > li {
		> a { padding: 15px 10px; color: #9f9; }
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {
	.nav > li {
		> a { padding: 15px 15px; color: #99f; }
	}
}











/**********************
      GLOBAL
***********************/

body { font-family: 'Open Sans', sans-serif;  }
a { color: @linkColor }

.openSansLight {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 0.02em;
}

h1,.h1 { .openSansLight; font-size: 32px; }
h2,.h2 { .openSansLight; font-size: 26px; }
h3,.h3 { .openSansLight; font-size: 22px; }
h4,.h4 { .openSansLight; font-size: 18px; }
h5,.h5 { .openSansLight; font-size: 15px; }
h6,.h6 { .openSansLight; font-size: 12px; }


 
.social_links { font-size: 20px;
	a { color: #ccc; padding-right: 5px; }
	:hover { color: @linkColor; }
}








/**********************
        NAV
***********************/

.cvatd-red-bar { border-top:3px solid @linkColor; padding-top: 15px; }
.navbar-cvatd {
    background-color:#fff;
    color:#1c1c1c;
	margin:0;
    border:0;
	
	
	.navbar-header {
		.navbar-brand {
			color:@linkColor; padding-left: 0;
		}
		.navbar-toggle {
			margin-top: 30px; .icon-bar { background-color: black; }
		}
	}
	/**/
	
	
	
	



	/*
	#srch-term {
		width: 100px;
		-moz-transition: width 0.5s ease-out;
		-webkit-transition: width 0.5s ease-out;
		transition: width 0.5s ease-out;
	}
	#srch-term:focus {
		
		.page_item a {
			padding-left: 25px;
			-moz-transition: width 0.5s ease-out;
			-webkit-transition: width 0.5s ease-out;
			transition: width 0.5s ease-out;
		}
		
		width: 200px;
		-moz-transition: width 0.5s ease-out;
		-webkit-transition: width 0.5s ease-out;
		transition: width 0.5s ease-out;
	}
	*/
	
}

/**/

#navbar-contract { width: 60%; }

#navbar-contract input {
  float: right;
  width: 10%;
  transition: ALL 0.2s;
}

#navbar-contract input:focus {
  width: 20%;
}

#navbar-contract ul {
  overflow: hidden;
  transition: ALL 0.2s;
}

#navbar-contract ul li {
  display: block;
  float: left;
  padding: 0px 2%;
}



ul.navbar-nav {
	list-style:none; 
	margin: 25px 0 0 0;
	
	>li.search { display: block; padding:14px 0 0 12px; }

	>li {
		>a { display: block; border-bottom: 5px solid #fff; padding-bottom: 30px; color: #111; }
		>a:hover { border-bottom: 5px solid @linkColor; background: transparent; }
		>a:focus { border-bottom: 5px solid @linkColor; background: transparent; }
	}	
	>li:hover>ul { display: block; }
	>li:focus>ul { display: block; }
	

	
	ul {
		list-style:none; display:none; margin: 0; padding: 0; z-index: 15; position: absolute;
		li a {
			.openSansLight;
			display:block;
			padding:7px 11px;
			color:#fff;
			background:rgba(0,0,0,.5);
			text-decoration:none;
			white-space:nowrap;
			
		}
		li a:hover { background-color:@linkColor; color: #fff; text-decoration: none; }
	}
}


/*

.nav>li>a:hover, .nav>li>a:focus { background: transparent}
.navbar-nav {
	margin-top: 20px;
	font-size: 105%;
	
	
	> li {
		padding: 0 0 21px 0;
		> a { color:#1c1c1c; border-bottom: 4px solid #fff;}
	}
	> li:hover {
		padding: 0 0 16px 0;
		border-bottom: 5px solid @linkColor;
		background-color: transparent; 
	}
	> .active > a, > .active > a:hover, > .active > a:focus {
		color: @linkColor;
		background-color:transparent;
		border-bottom: 4px solid @linkColor;
	}
}

nav ul {
	list-style:none; margin: 0; padding: 0; position:relative; z-index:15;
	
	li:hover > ul { display: block;  }
	li a { display: block; padding: 0; color: #757575; }
	
	ul {
		display:none; margin: 21px 0 0 0; padding: 0; z-index: 15; position: absolute;
		li a {
			.openSansLight;
			display:block;
			padding:6px 12px;
			color:#fff;
			background:rgba(0,0,0,.5);
			text-decoration:none;
			white-space:nowrap;
		}
		li a:hover { background-color:@linkColor; color: #fff; text-decoration: none; }
	}
}

*/



.carousel {

	.carousel-caption {
		position:absolute; left:0; right: 0; bottom: 0; text-align: left; padding: 5px 20px 15px; margin: 0;
		background-color:rgba(0,0,0,0.3); 
		text-shadow: none;
	}
	
	.cc-title {
		.h2
	}
	.cc-text {
		color:rgba(255,255,255,0.7);
		padding-bottom: 5px;
	}
	
	
	.left,.right {
		background-image:none;
	}
	
	
	/* faster sliding speed */
	.carousel-inner > .item {
		-webkit-transition: 0.4s ease-in-out left;
		-moz-transition: 0.4s ease-in-out left;
		-o-transition: 0.4s ease-in-out left;
		transition: 0.4s ease-in-out left;
	}

}










/**********************
        FEEDS
***********************/


h6 { color: #aaa }





.feed-col-header { margin:30px 0 20px 0; border-bottom: 1px solid #ccc; padding-bottom: 10px; }
//.social_links { position: absolute; top: 30px; right: 0 }
.social_links { float: right; }





.film_roll { width: 100%; }
.film_roll_wrapper {
	display: block;
	text-align: center;
	float: none;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: auto;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	width: 100%;
}
.film_roll_shuttle {
	text-align: left;
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
	bottom: auto;
	margin: 0 !important;
	padding: 0 !important;
	z-index: auto;
}
.film_roll_shuttle.vertical_center:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}
.film_roll_child {
	position: relative;
	display: inline-block;
	*display:inline;
	vertical-align:middle;
	zoom:1;
}
.film_roll_prev, .film_roll_next {
	position: absolute;
	z-index: 20px;
	top: 48%;
	width: 34px;
	height: 44px;
	padding: 6px 2px;
	font-size: 0;
	background: #000;
	background-position: center; background-repeat: no-repeat;
	text-align: center;
	opacity: 0.8;
}	
.film_roll_prev { left: 0px; background-image: url('../img/icon_arrow_left.png'); }
.film_roll_next { right: 0px; background-image: url('../img/icon_arrow_right.png'); }
.film_roll_prev:hover, .film_roll_next:hover { color: white; text-decoration: none; opacity: 0.9; }
.film_roll_next { left: auto; right: 0px; }

.film_roll_pager { text-align: center; padding: 20px 0; }
.film_roll_pager a {
	width: 10px; height: 10px;
	border: 3px solid #fff; border-radius: 10px;
	background: #fff; 
	display: inline-block;
	margin: 0 5px 0 0; transition: all .5s ease;
}
.film_roll_pager a:hover { background: #ddd; border-color: #ddd; }
.film_roll_pager a.active { background: #ddd; border-color: #ddd; }
.film_roll_pager span { display: none; }
.film_roll_pager a, a.film_roll_prev, a.film_roll_next {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.footer-row-header h3 { color: #666; margin-bottom: 30px; }

.program {
	width: 280px; height: 400px; background: #fff; float: left; margin-right: 20px; padding: 0;
	img { padding: 10px 10px 0 10px;}
	h3 { margin: 10px 0; line-height: 32px}
	.program-info { padding: 0 10px 10px 10px;}
}






.footer-row {
	padding-bottom: 40px;
	border-top:1px solid #fff;

}
.footer-row-1 {
	background: #ccc;
	margin-top:40px;
}
.footer-row-2 {
	background: #878787;
}

footer { background-color: #3d3c3c; padding: 40px 0; overflow: auto; color: #ddd  }
footer ul { padding: 0; }
footer li.h4 {
	margin: 30px 0 20px 0;
	a { color: #aaa; }
}
footer li.h5 a { color: #ddd; }
footer li { padding: 0; list-style: none}
.subscribe-form { margin: 20px 0 8px 0; }
footer .footer-logo { margin: 50px auto 20px;}



	footer .navbar-toggle {
		margin-top: 30px;
		.icon-bar { background-color: #fff; }
	}


footer .container {
	margin-right: auto;
	margin-left: auto;
	
	//max-width: 880px; /* or 950px */
}






















